{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "assets": "assets",
          "bootstrap": "bootstrap",
          "components": "components",
          "config": "config",
          "modules": "modules",
          "utilities": "utilities"
        }
      }
    ]
  ]
}